.ncg-btn-group(style="margin-top: 8px;")
    .btn-group.btn-group-justified
        .btn-group
            button#housecup-cards-load.btn.btn-xs.btn-success(type='button' aria-label="Left Align")
                span.glyphicon.glyphicon-user(aria-hidden="true")  LOAD
                .btn-group
            button#housecup-cards-reset.btn.btn-xs.btn-default(type='button' aria-label="Left Align")
                span.glyphicon.glyphicon-user(aria-hidden="true")  RESET
div(style="display: flex;")
    .column(style="width: 50%;")
        .ncg-label Player 1
            .output1#op1
    .column(style="width: 50%;")
        .ncg-label Player 2
            .output2#op2
