.ncg-btn-group(style="margin-top: 8px;")
    .btn-group.btn-group-justified
        .btn-group
            button#housecup-pickban-start.btn.btn-xs.btn-success(type='button' aria-label="Left Align")
                span.glyphicon.glyphicon-play(aria-hidden="true")  START
        .btn-group
            button#housecup-pickban-reset.btn.btn-xs.btn-danger(type='button' aria-label="Right Align")
                span.glyphicon.glyphicon-arrow-right(aria-hidden="true")  RESET
hr
div(style="display: flex;")
    .column
        .ncg-btn-group
            .btn-group.btn-group-justified
                .btn-group
                    button#housecup-pickban-show.btn.btn-xs.btn-default(type='button' aria-label="Left Align")
                        span.glyphicon.glyphicon-user(aria-hidden="true")  SHOW
                .btn-group
                    button#housecup-pickban-hide.btn.btn-xs.btn-default(type='button' aria-label="Left Align")
                        span.glyphicon.glyphicon-user(aria-hidden="true")  HIDE

.ncg-btn-group
        .btn-group.btn-group-justified
            .btn-group
                button#housecup-pickban-deck.btn.btn-xs.btn-default(type='button' aria-label="Left Align")
                     span.glyphicon.glyphicon-user(aria-hidden="true")  DECK
