script(src='/dashboard/housecup-pause/components/moment/min/moment-with-locales.min.js')
link(rel='stylesheet', href='/dashboard/housecup-pause/components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')
script(src='/dashboard/housecup-pause/components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')

.ncg-label COUNTDOWN TO
#countdown-to


.ncg-label TIMER
.ncg-btn-group(style="margin-top: 8px;")
    .btn-group.btn-group-justified
        .btn-group
            button#housecup-countdown_start.btn.btn-xs.btn-success(type='button' aria-label="Left Align")
                span.glyphicon.glyphicon-play(aria-hidden="true")  Start
        .btn-group
            button#housecup-countdown_stop.btn.btn-xs.btn-danger(type='button' aria-label="Left Align")
                span.glyphicon.glyphicon-stop(aria-hidden="true")  Stop
        .btn-group
            button#housecup-countdown_end.btn.btn-xs.btn-primary(type='button' aria-label="Left Align")
                span.glyphicon.glyphicon-fast-forward(aria-hidden="true")  PARTY

.ncg-label DISPLAY
.ncg-btn-group(style="margin-top: 8px;")
    .btn-group.btn-group-justified
        .btn-group
            button#housecup-countdown_large.btn.btn-xs.btn-default.housecup-size_modify(type='button', data-value="", aria-label="Left Align")
                span.glyphicon.glyphicon-th-large(aria-hidden="true")  Large
        .btn-group
            button#housecup-countdown_small.btn.btn-xs.btn-default.housecup-size_modify(type='button', data-value="small", aria-label="Left Align")
                span.glyphicon.glyphicon-th(aria-hidden="true")  Small
        .btn-group
            button#housecup-countdown_hide.btn.btn-xs.btn-default.housecup-size_modify(type='button', data-value="hidden", aria-label="Left Align")
                span.glyphicon.glyphicon-minus(aria-hidden="true")  Hide

