<html>
<head>
<title>SCRUBLORD</title>
<link rel="stylesheet" type="text/css" href="new.css">
<script src="jquery-2.1.3.min.js"></script>
<script src="lodash.js"></script>
<script src="run.js"></script>
</head>

<body>
<div class="container">

<div class="p1 nick"></div>
<div class="p2 nick"></div>
<div class="cards">
    <div class="deckrender" id="deck1" data-value="1">
        <div class="druid deckimage"></div>
        <div class="hunter deckimage"></div>
        <div class="mage deckimage"></div>
        <div class="paladin deckimage"></div>
        <div class="priest deckimage"></div>
        <div class="rogue deckimage"></div>
        <div class="shaman deckimage"></div>
        <div class="warlock deckimage"></div>
        <div class="warrior deckimage"></div>
    </div>
    <div class="deckrender" id="deck2" data-value="2">
        <div class="druid deckimage"></div>
        <div class="hunter deckimage"></div>
        <div class="mage deckimage"></div>
        <div class="paladin deckimage"></div>
        <div class="priest deckimage"></div>
        <div class="rogue deckimage"></div>
        <div class="shaman deckimage"></div>
        <div class="warlock deckimage"></div>
        <div class="warrior deckimage"></div>
    </div>
    </div>
</div>
</body>

</html>
