<html>
<head>
<title>SCRUBLORD</title>
<link rel="stylesheet" type="text/css" href="renderbig.css">
<script type="text/javascript" src="/dashboard/housecup-pickban/components/lodash/lodash.min.js"></script>
<script type="text/javascript" src="/dashboard/housecup-pickban/components/jquery/dist/jquery.min.js"></script>
</head>

<body>
<div class="container">
<div class="cards">
    <div class="deckrender" data-value="1">
        <div class="druid deckimage"></div>
        <div class="hunter deckimage"></div>
        <div class="mage deckimage"></div>
        <div class="paladin deckimage"></div>
        <div class="priest deckimage"></div>
        <div class="rogue deckimage"></div>
        <div class="shaman deckimage"></div>
        <div class="warlock deckimage"></div>
        <div class="warrior deckimage"></div>
    </div>
    <div class="deckrender" data-value="2">
        <div class="druid deckimage"></div>
        <div class="hunter deckimage"></div>
        <div class="mage deckimage"></div>
        <div class="paladin deckimage"></div>
        <div class="priest deckimage"></div>
        <div class="rogue deckimage"></div>
        <div class="shaman deckimage"></div>
        <div class="warlock deckimage"></div>
        <div class="warrior deckimage"></div>
    </div>
    </div>
</div>
</body>

</html>
