div(style="display: flex;")
    .column
        .ncg-btn-group
            .btn-group.btn-group-justified
                .btn-group
                    button#housecup-pickban-show.btn.btn-xs.btn-success(type='button' aria-label="Left Align")
                        span.glyphicon.glyphicon-user(aria-hidden="true") TOGGLE PICKBAN
                .btn-group
                    button#housecup-pickban-reset.btn.btn-xs.btn-danger(type='button' aria-label="Left Align")
                        span.glyphicon.glyphicon-user(aria-hidden="true")  RESET

.render
.render2
