<html>
<head>

  <title>Housecup ingame</title>

  <script src="js/jquery-2.1.3.min.js"></script>
  <script src="js/jquery.transit.js"></script>
  <script src="js/sponsor.js"></script>
  <script src="js/three.min.js"></script>
  <script src="js/stats.min.js"></script>

  <script src="js/setupscene.js"></script>
  <script src="js/animations.js"></script>



  <script src="js/ColladaLoader.js"></script>
  <script src="js/tween.min.js"></script>
  <script src="js/Cloth.js"></script>
  <script src="js/ingame.js"></script>
  <script src="js/cards.js"></script>

  <script src="js/nodecg.js"></script>

  <link rel="stylesheet" type="text/css" href="ingame.css">


</head>
<body class="">
<script type="x-shader/x-fragment" id="fragmentShaderDepth">

  uniform sampler2D texture;
  varying vec2 vUV;

  vec4 pack_depth( const in float depth ) {

    const vec4 bit_shift = vec4( 256.0 * 256.0 * 256.0, 256.0 * 256.0, 256.0, 1.0 );
    const vec4 bit_mask  = vec4( 0.0, 1.0 / 256.0, 1.0 / 256.0, 1.0 / 256.0 );
    vec4 res = fract( depth * bit_shift );
    res -= res.xxyz * bit_mask;
    return res;

  }

  void main() {

    vec4 pixel = texture2D( texture, vUV );

    if ( pixel.a < 0.5 ) discard;

    gl_FragData[ 0 ] = pack_depth( gl_FragCoord.z );

  }
</script>

<script type="x-shader/x-vertex" id="vertexShaderDepth">

  varying vec2 vUV;

  void main() {

    vUV = 0.75 * uv;

    vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );

    gl_Position = projectionMatrix * mvPosition;

  }

</script>

  <video id="video1" src="mov/gameplay.mp4"  autoplay loop></video>
  <video id="video2" src="mov/gameplay.mp4"  autoplay loop></video>
  <video id="video3" src="mov/player1.mp4" autoplay loop></video>
  <video id="video4" src="mov/player2.mp4" autoplay loop></video>

  <div id="pp1" class="pp">
    <span class="presentationage"></span>
    <span class="presentationteam"></span>
    <span class="presentationclass"></span>
    <span class="presentationcountry"></span>

  </div>
  <div id="pp2" class="pp">
    <span class="presentationage"></span>
    <span class="presentationteam"></span>
    <span class="presentationclass"></span>
    <span class="presentationcountry"></span></div>

  <video id="particles" src="mov/smoke2.webm" autoplay loop></video>

  <canvas id="videoCanvas1" class="videoCanvas" width="1280" height="720"></canvas>
  <canvas id="videoCanvas2" class="videoCanvas" width="1280" height="720"></canvas>
  <canvas id="videoCanvas3" class="videoCanvas" width="1280" height="720"></canvas>
  <canvas id="videoCanvas4" class="videoCanvas" width="1280" height="720"></canvas>

  <canvas id="trackPoint" width="12" height="12"></canvas>

  <img src="img/housecup_logo.png" id="logo_big">


  <canvas id="leftBannerText" width="300" height="733"></canvas>
  <canvas id="rightBannerText" width="300" height="733"></canvas>

  <div id="3d-foreground" class="three"></div>



  <div id="mulligan1"></div>
  <div id="mulligan2"></div>

  <div id="decklist1" class="decklist"></div>
  <div id="decklist2" class="decklist"></div>

  <div id="herolist1" class="herolist">
    <div class="hero warrior"><div class="cross"></div></div>
    <div class="hero shaman"><div class="cross"></div></div>
    <div class="hero rogue"><div class="cross"></div></div>
    <div class="hero paladin"><div class="cross"></div></div>
    <div class="hero hunter"><div class="cross"></div></div>
    <div class="hero druid"><div class="cross"></div></div>
    <div class="hero warlock"><div class="cross"></div></div>
    <div class="hero mage"><div class="cross"></div></div>
    <div class="hero priest"><div class="cross"></div></div>
  </div>

  <div id="herolist2" class="herolist">
    <div class="hero warrior"><div class="cross"></div></div>
    <div class="hero shaman"><div class="cross"></div></div>
    <div class="hero rogue"><div class="cross"></div></div>
    <div class="hero paladin"><div class="cross"></div></div>
    <div class="hero hunter"><div class="cross"></div></div>
    <div class="hero druid"><div class="cross"></div></div>
    <div class="hero warlock"><div class="cross"></div></div>
    <div class="hero mage"><div class="cross"></div></div>
    <div class="hero priest"><div class="cross"></div></div>
  </div>

  <img src="img/housecup_logo_trans_small.png" id="logo">
  <div id="logo2">
    <div class="plate-sponsor-background"></div>
    <div class="plate-sponsor-image"></div>
  </div>

  <div id="deckname"><span class="name"></span>'s <span class="hero"></span> deck</div>

  <img src="img/banner-logos/amaz.png" id="logo-amaz" class="playerlogo" />
  <img src="img/banner-logos/crane.png" id="logo-crane" class="playerlogo" />
  <img src="img/banner-logos/firebat.png" id="logo-firebat" class="playerlogo" />
  <img src="img/banner-logos/froggy.png" id="logo-froggy" class="playerlogo" />
  <img src="img/banner-logos/handsomeguy.png" id="logo-handsomeguy" class="playerlogo" />
  <img src="img/banner-logos/hoej.png" id="logo-hoej" class="playerlogo" />
  <img src="img/banner-logos/icefox.png" id="logo-icefox" class="playerlogo" />
  <img src="img/banner-logos/kalaxz.png" id="logo-kalaxz" class="playerlogo" />
  <img src="img/banner-logos/lifecoach.png" id="logo-lifecoach" class="playerlogo" />
  <img src="img/banner-logos/immortal.png" id="logo-immortal" class="playerlogo" />
  <img src="img/banner-logos/orange.png" id="logo-orange" class="playerlogo" />
  <img src="img/banner-logos/rewind.png" id="logo-rewind" class="playerlogo" />
  <img src="img/banner-logos/roger.png" id="logo-roger" class="playerlogo" />
  <img src="img/banner-logos/stancifka.png" id="logo-stancifika" class="playerlogo" />
  <img src="img/banner-logos/strifecro.png" id="logo-strifecro" class="playerlogo" />
  <img src="img/banner-logos/thijs.png" id="logo-thijs" class="playerlogo" />
  <img src="img/banner-logos/rdu.png" id="logo-rdu" class="playerlogo" />




</body>
</html>
